@import url('https://fonts.googleapis.com/css?family=Barrio');

body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("pics/nuclear-explosion.jpg");
  background-size: 100% 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background: linear-gradient(to right top, yellow, red);
  text-transform: uppercase;
  font-family: Barrio;
}
.topbar a{
  text-decoration: none;
  color: mediumaquamarine;
}
.topbar .actionButton{
  padding:5px 12px;

}

.topbar a:hover{
  font-size: 1.2em;
  transition: ease 0.2s;
  color: cyan;
}

.topbar .actionButton{
  color: red;
}
.title{
  background: linear-gradient(to left top, cyan, lightseagreen);
}
.dancer{
  content: url("pics/trumpy.png");
  position:absolute;
}

.flyingPig{
  content: url("pics/FlyingPig.png");
  height: 8%;
  width: 8%;
}

.gangnamStyle{
  content: url("pics/psy.png");
  transform: rotate(90deg);
}
