body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("pics/nuclear-explosion.jpg");
  background-size: 100% 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  content: url("pics/trumpy.png");
  position:absolute;
}

.flyingPig{
  content: url("pics/FlyingPig.png");
  height: 5%;
  width: 5%;

}

.gangnamStyle{
  content: url("pics/psy.png");
}
